<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div>
      <%=f.label :name %>:
      <%=f.text_field :name %>
    </div>

    <div>
      <%=f.label :description %>:
      <%=f.text_area :description %>
    </div><br/>

    <div>
      <%=f.label :price %>:
      <%=f.number_field :price, :min=> 0, :style=>"height: 25px;" %>
    </div><br/>

    <div>
      <%#=f.fields_for :pictures do |picture| %>
          <%=f.label :avatar, "Upload Image" %>:
          <%=f.file_field :avatar %>

    </div>


    <div class="btn">
    <%= f.submit :class=>'btn' %>
  </div>
<% end %>
