<div class="container">
    <p id="notice"><%= notice %></p>

    <h1 class="centered">Listing Products</h1>
    <div class="col-md-12">
      <% @products.each do |product|%>
          <a href='/products/show/<%="#{product.id}"%>'>
        <div class="col-md-3 centered top-space">
          <div class="col-md-12">
            <%= image_tag(product.pictures.first.avatar, :class=>'product-image-dime')%>
          </div>
          <h4>
            <div class="row word-wrap">
              <b><%= product.name%></b><br/>
            </div>
          </h4>
          <h5>
            <div class="row word-wrap">
            <%= truncate(product.description, :length=> 47)%>
            </div>
          </h5></a>
          <h5>
            <div class="row word-wrap">
              Price: <%= product.price%>
            </div>
          </h5>
          <div class="row">
            <%= button_to "Add to Cart", line_items_path(:product_id=> product.id), :class=>"btn btn-default"%>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <div class="col-md-12">
      <%= link_to 'New Product', new_product_path %>
    </div>
</div>